<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-4">Welcome to Anonymous Secret Posting</h1>
    <p class="secret-text">Read others secrets here : </p>
    <% usersWithSecrets.forEach(function(user){ %>
      <div class="card">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p class=""><%= user.secret %></p>
            <footer class="blockquote-footer"><%= user.nickname %></footer>
          </blockquote>
        </div>
      </div>
    <% }) %>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
